@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@source "../views";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";



@theme {
  --font-sans: 'Open Sans';
  --font-poppins: 'Poppins';
  --font-jomhuria: 'Jomhuria', sans-serif;
  --font-outfit: 'Outfit';
  --font-urbanist: 'Urbanist';

  --color-biruPrimary : #4682B4;
  --color-teksButtonPutih : #F0F8FF;
  --color-abuForgot : #6A707C;
  --color-abuPlaceholder : #8391A1;
  --color-biruCircleShapes : #F0F8FF;
  --color-borderAbu : #E8ECF4;
  
}
/* @layer base {
  body {
    @apply font-sans;
  }} */

.placeholder-urbanist::placeholder {
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem; /* medium = 16px */
  font-weight: 500; /* medium */
}

* {
  font-family: 'urbanist', sans-serif !important;
}

[x-cloak] {
  display: none !important;
}
